.aboutMe {
    overflow:hidden;
    .images {
        height:165px;
        position: relative;
    }
    img {
        width:calc((100% / 2) + 25px);
        border-radius:100%;
        position: absolute;
    }
    img:first-child {
        left:-30px;
    }
    img:last-child {
        right:-30px;
    }
    button {
        padding: 18px;
    }
    button a {
        position: absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        display:flex;
        justify-content: center;
        align-items:center;
    }
    .whiteButton a {
        margin-left: 20px;
    }
    .buttons {
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        margin: 0 auto;
        padding-top: 20px;
    }
    .funFacts {
        ul {
            margin:20px 0px;
        }
    }
    .funFacts {
        li {
            list-style:disc;
            margin-left: 20px;
            color:$primaryColor;
        }
        li p {
            color:black;
        }
    }
}

@media (min-width:303px) {
    .aboutMe {
        .images {
            height:185px;
        }
    }
}

@media (min-width:343px) {
    .aboutMe {
        .images {
            height:205px;
        }
    }
}

@media (min-width:383px) {
    .aboutMe {
        .images {
            height:225px;
        }
    }
}

@media (min-width:423px) {
    .aboutMe {
        .images {
            height:245px;
        }
    }
}

@media (min-width:463px) {
    .aboutMe {
        .images {
            height:265px;
        }
    }
}

@media (min-width:470px) {
    .aboutMe {
        .images {
            height:auto;
            position:static;
            width:80%;
            margin: 0 auto;
        }
        img {
            width:calc((100% / 2) - 5px);
            position: static;
        }
        .buttons {
            flex-direction:row;
        }
        .coloredButton {
            margin-left:40px;
            width: 40%;
            z-index:1;
        }
        .whiteButton {
            position: relative;
            left:-40px;
            width:60%;
            padding-left: 30px;
        }
    }
}

@media (min-width:600px) {
    .aboutMe{
        .buttons {
            width: 80%;
        }
    }
}

@media (min-width:750px) {
    .aboutMe{
        .buttons{
            width: 70%;
        }
    }
}

@media (min-width:900px) {
    .aboutMe{
        .buttons{
            width: 60%;
        }
    }
}

