.singleFormField {
    position: relative;
}

label {
    position: absolute;
    font-size:12px;
    background:white;
    top:12px;
    left:10px;
    padding: 0px 5px;
    // border: 1px solid red;
}

.required {
    color:$primaryColor;
}

input, textarea {
    width:100%;
    border: 1px solid $secondColor;
    margin-top: 20px;
    background:none;
    padding: 15px 15px 10px 15px;
    // border: 1px solid blue;
}

textarea {
    resize:none;
    height:150px;
}

input:focus, textarea:focus {
    border: 2px solid $primaryColor;
}

.contact .coloredButton {
    margin-top: 20px;
    width: 100px;
}

@media (min-width:470px) {
    form {
        display:flex;
        flex-direction: column;
    }
}

@media (min-width:680px) {
    form {
        width:60%;
    }
}

@media (min-width:925px) {
    form {
        width: 100%;
    }
    .nameAndEmailFields {
        display:flex;
        .singleFormField:first-child {
            margin-right: 20px;
        }
        .singleFormField {
            width: calc(50% - 10px);
        }
    }
}