.portfolio {
    margin-bottom: 40px;
    .monitorAndProjects {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .projectIcons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 50%;
        margin: 20px auto;
        position: relative;
    }
    .projectIcons li:not(.arrow) {
        width: 40px;
        height: 40px;
        cursor:pointer;
        transition:all .3s;
    }
    .projectIcons li:not(.arrow):hover, .selectedIcon {
        border:1px solid $primaryColor;
        border-radius:100%;
        padding: 10px;
    }
    .arrow {
        position: absolute;
    }
    .rightArrow {
        animation: slideRight 1.5s linear infinite;
        left:0px;
    }
    .leftArrow {
        animation: slideLeft 1.5s linear infinite;
        right:0px;
    }
    i {
        font-size:2rem;
        color:$primaryColor;
    }
    .laptop {
        margin-right: 40px;
        width: 100%;
        position: relative;
        display:flex;
        justify-content: center;
        align-items:center;
    }
    .monitor {
        content:'';
        position: absolute;
        width: 72%;
        padding-bottom:10px;
        z-index:-1;
    }
    .projectDescription {
        width: 50%;
        margin-right: 40px;
    }
    .projectNextSteps {
        width: 50%;
    }
    button {
        width: 120px;
        margin: 3px 0px;
    }
    .projectDescription p {
        margin-bottom: 20px;
    }

    .aboutProject {
        display:none;
    }

    .display {
        display:flex;
        padding-top: 40px;
    }
    .projectNextSteps {
        p ~ ul {
            margin-top: 5px;
        }
        li {
            list-style:disc;
            margin-left: 20px;
            color:$primaryColor;
        }
        li p {
            color:black;
        }
    }

    .projectNextSteps ul:first-of-type {
        margin-bottom: 20px;
    }
}

@media(max-width:680px) {
    .portfolio {
        button {
            width: 100px;
        }
    }
}

@media(max-width:600px) {
    .portfolio {
        .projectIcons {
            width: 100%;
        }
        .projectIcons li:not(.arrow) {
            width: 30px;
            height: 30px;
        }
        .projectIcons li:not(.arrow):hover, .selectedIcon {
            padding: 5px;
        }
        .arrow {
            display:none;
        }
        .display {
            flex-direction: column;
        }
        .projectDescription {
            width: 100%;
            margin-right: 0px;
            margin-bottom: 20px;
        }
        .projectNextSteps {
            width: 100%;
        }
    }
}